
@{
    ViewBag.Title = "商品详情";
}
<div class="couponDetail">
    <div class="couponDetail-top">
        <div class="couponDetail-top-back fl"></div>
        <div class="couponDetail-top-share fr"></div>
    </div>
    <div class="couponDetail-pImg">
        <img src="~/Content/image/test/coupon-detail-pimg.png" alt="" />
    </div>
    <div class="couponDetail-info">
        <a class="couponDetail-info-name" href="#">
            <img src="~/Content/image/view/logo_taobao_tag@2x.png" />
            BettyChow BC自制 飘带褶皱真丝连衣裙吊带 蕾丝镂空 超重磅
        </a>
        <div class="couponDetail-info-price">
            <div class="fl preferPrice mar"><span class="fs12">¥</span><span class="fs24">69.00</span></div>
            <div class="fl originalPrice color-grey fs14">在售价 ¥ 189.00</div>
            <div class="fr color-grey fs14">销量：4566</div>
        </div>
        <div class="clearfix marginT10">
            <div class="coupon-tab fl marginR8">
                <div class="coupon-tab-type fl">券</div>
                <div class="coupon-tab-val fl">120元</div>
            </div>
        </div>
    </div>
    <div class="marginT10">
        <div class="columnModule">
            <div class="columnModule-title"><span>商品详情</span></div>
        </div>
        <div name="poductDetail" class="couponDetail-detailImg">
            <img src="~/Content/image/test/coupon-detail-pimg02.png" alt="" />
        </div>
    </div>
    <a class="couponDetail-useBtn">立即领取优惠</a>
</div>