@model List<Buy.Models.Keyword>
@{
    ViewBag.Title = "搜索";
}

<div class="search minHight100vh paddingT44">
    <form action="#" onsubmit="return false;">
        <div class="navigationBar">
            <div class="navigationBar-back" onclick="history.back(-1)"></div>
            <div class="navigationBar-search">
                <i></i>
                <input id="search" type="search" name="filterText" class="" placeholder="搜索商品" value="">
            </div>
            <div id="searchBtn" class="navigationBar-rightText">搜索</div>
        </div>
    </form>
    <div class="keywordTips hidden">
        <ul id="SearchResult">
            <li class="demo hidden"></li>
        </ul>
    </div>
    <div class="hotSearch">
        <div class="hotSearch-tits">热门搜索</div>
        <ul class="">
            @foreach (var item in Model)
            {
                <li name="hotSearchList" data-filter="@item.Word">@item.Word</li>
            }
        </ul>

        <div id="searchHistory">
            <div class="hotSearch-tits marginT35 clearfix">
                <div class="fl">搜索历史</div>
                <div id="clearHistory" class="fr color-main fs12">清除历史</div>
            </div>
            <ul id="searchHistoryList" class=""></ul>
        </div>
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/search")
}