
@{
    ViewBag.Title = "搜索";
}

<div class="search minHight100vh paddingT44">
    <form action="#" onsubmit="return false;">
        <div class="navigationBar bgcolor-orange">
            <div class="navigationBar-back bgwhite" onclick="history.back(-1)"></div>
            <div class="navigationBar-search bgwhite fl">
                <i></i>
                <input id="search" type="search" name="filterText" class="" placeholder="搜索内部券" value="">
            </div>
            <div id="searchBtn" class="navigationBar-rightText fl">搜优惠</div>
        </div>
    </form>

    <div class="hotSearch">
        <div class="hotSearch-tits">热门搜索</div>
        <ul class="">
            <li name="hotSearchList" data-filter="小白鞋">小白鞋</li>
            <li name="hotSearchList" data-filter="电风扇">电风扇</li>
            <li name="hotSearchList" data-filter="连衣裙">连衣裙</li>
            <li name="hotSearchList" data-filter="灭蚊片">灭蚊片</li>
        </ul>

        <div id="searchHistory">
            <div class="hotSearch-tits marginT35 clearfix">
                <div class="fl">搜索历史</div>
                <div id="clearHistory" class="fr color-red fs12">清除历史</div>
            </div>
            <ul id="searchHistoryList" class=""></ul>
        </div>
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/search")
}