
@{
    ViewBag.Title = "T";
}

<h2>T</h2>
<div id="asdsad">
    <div id="update" style="margin-top: 0;width: 100%;">
        <div id="update1" style="height: 20px; width: 100%; height: 70px;background: #e9f4f7; display: none;">
            <p style="margin: 20px auto;
            padding-top: 8px;
            text-align: center;
            font-size: 14px;
            color: #37bbf5;">松开后刷新</p>
        </div>
        <div id="update2" style="height: 20px; width: 100%; height: 70px;background: #e9f4f7; display: none;">
            <p style="margin: 20px auto;
            padding-top: 8px;
            text-align: center;
            font-size: 14px;
            color: #37bbf5;">玩命加载中..</p>
        </div>
    </div>
    <div>
        <ul id="sdsdsdsdsd">
            <li>sdas</li>
            <li>sdasss</li>
            <li>sdasssssss</li>
            <li>sdasssssssssss</li>
        </ul>
    </div>
</div>
@section Scripts {
    <script>
        function kt_touch(contentId, way) {
            var update1 = $("#update1"), update2 = $("#update2");
            var _start = 0,
                _end = 0,
                _content = document.getElementById(contentId);
            if (_content) {
                _content.addEventListener("touchstart", touchStart, false);
                _content.addEventListener("touchmove", touchMove, false);
                _content.addEventListener("touchend", touchEnd, false);
            }
            function touchStart(event) {
                event.preventDefault();
                if (!event.touches.length) return;
                var touch = event.touches[0];
                if (way == "x") {
                    _start = touch.pageX;
                } else {
                    _start = touch.pageY;
                }
            }

            function touchMove(event) {
                event.preventDefault();
                if (!event.touches.length) return;
                var touch = event.touches[0];

                if (way == "x") {
                    _end = (_start - touch.pageX);
                } else {
                    _end = (_start - touch.pageY);
                    if (_end < 0) {
                        update2.css("display", "none");
                        update1.css("display", "block")
                        update1.css("height", 1 - parseInt(_end) + "px");
                    }
                }
            }

            function touchEnd(event) {
                if (_end <= 0) {
                    update1.css("display", "none");
                    update1.css("height", "20px");
                    update2.css("display", "block");
                    update1.css("display", "none");
                    update2.css("display", "none");
                    var sds = $("#sdsdsdsdsd").children().clone();
                    $("#sdsdsdsdsd").append(sds);
                }
            }
        }
        kt_touch('asdsad', 'y');
    </script>
}


