
@{
    ViewBag.Title = "T";
}
<style>
    #sd, #ud {
        margin-top: 0;
        width: 100%;
    }

    #sd1, #sd2, #ud1, #ud2 {
        width: 100%;
        height: 70px;
        background: #e9f4f7;
        display: none;
    }

    #sd1, #ud2 {
        height: 20px;
    }

        #sd1 > p, #sd2 > p, #ud1 > p, #ud2 > p {
            margin: 20px auto;
            padding-top: 8px;
            text-align: center;
            font-size: 14px;
            color: #37bbf5;
        }
</style>


<h2>T</h2>
<div id="asdsad">
    <div id="sd">
        <div id="sd1">
            <p>松开后刷新最新回复</p>
        </div>
        <div id="sd2">
            <p><img src="/images/loading.gif" alt="玩命加载中.." /></p>
        </div>
    </div>
    <div>
        <ul id="sdsdsdsdsd">
            <li>sdas</li>
            <li>sdasss</li>
            <li>sdasssssss</li>
            <li>sdasssssssssss</li>
        </ul>
    </div>
</div>
@section Scripts {
    <script>
        function kt_touch(contentId, way) {
            var sd1 = $("#sd1"), sd2 = $("#sd2");
            var _start = 0,
                _end = 0,
                _content = document.getElementById(contentId);
            if (_content) {
                _content.addEventListener("touchstart", touchStart, false);
                _content.addEventListener("touchmove", touchMove, false);
                _content.addEventListener("touchend", touchEnd, false);
            }
            function touchStart(event) {
                event.preventDefault();
                if (!event.touches.length) return;
                var touch = event.touches[0];
                if (way == "x") {
                    _start = touch.pageX;
                } else {
                    _start = touch.pageY;
                }
            }

            function touchMove(event) {
                event.preventDefault();
                if (!event.touches.length) return;
                var touch = event.touches[0];

                if (way == "x") {
                    _end = (_start - touch.pageX);
                } else {
                    _end = (_start - touch.pageY);
                    if (_end < 0) {

                        sd2.css("display", "none");
                        sd1.css("display", "block")
                        sd1.css("height", 1 - parseInt(_end) + "px");
                    }
                }
            }

            function touchEnd(event) {

                if (_end <= 0) {
                    sd1.css("display", "none");
                    sd1.css("height", "20px");
                    sd2.css("display", "block");
                    sd1.css("display", "none");
                    sd2.css("display", "none");
                    var sds = $("#sdsdsdsdsd").children().clone();
                    $("#sdsdsdsdsd").append(sds);
                }
            }
        }

        kt_touch('asdsad', 'y');
    </script>
}


