/*系统参数*/
/*bs样式*/
/*通用方法*/
/* Hide for mobile, show later */
.layoutBackground .fluid {
  display: flex;
}
.layoutBackground .fluid .sidebar {
  display: none;
  width: 200px;
}
@media screen and (min-width: 750px) {
  .layoutBackground .fluid .sidebar {
    width: 200px;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 0.03864734rem solid #eeeeee;
  }
}
.layoutBackground .fluid .sidebar .nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li .badge {
  background-color: #E02E24;
  float: right;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li.active a {
  color: #fff;
  background-color: #E02E24;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li.active a:hover,
.layoutBackground .fluid .sidebar .nav-sidebar > li.active a:focus {
  color: #fff;
  background-color: #E02E24;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li.active .badge {
  background-color: #fff;
  color: #E02E24;
}
.layoutBackground .fluid .main {
  padding: 20px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin-left: 200px;
  position: relative;
  margin-top: 50px;
}
@media (min-width: 750px) {
  .layoutBackground .fluid .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.layoutBackground .navbar > .container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
}
.layoutBackground .navbar > .container .navbar-right {
  margin-right: 0;
}
.layoutBackground.layoutBackgroundM {
  padding-top: 50px;
}
.navtop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 34px;
  background-color: #edecea;
  font-size: 0.46376812rem;
  z-index: 9900;
}
.navtop:before,
.navtop:after {
  content: " ";
  display: table;
}
.navtop:after {
  clear: both;
}
.navtop:before,
.navtop:after {
  content: " ";
  display: table;
}
.navtop:after {
  clear: both;
}
.navtop a {
  text-decoration: none;
  color: inherit;
}
.navtop a:hover,
.navtop a:active,
.navtop a:focus {
  color: inherit;
}
.navtop a:hover {
  color: #E02E24;
}
.navtop .navtop-left a {
  padding: 0;
  padding-right: 34px;
  line-height: 34px;
}
.navtop .navtop-left a#loginLink {
  color: #E02E24;
}
.navtop .navtop-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navtop .navtop-right ul li {
  float: left;
  padding: 0 20px;
  line-height: 34px;
  cursor: pointer;
}
.navtop .navtop-right ul li:hover {
  color: #E02E24;
}
.navtop .navtop-right ul li:last-child {
  padding-right: 0;
}
.uploader .btnModal {
  margin-bottom: 5px;
}
.uploader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.uploader ul:before,
.uploader ul:after {
  content: " ";
  display: table;
}
.uploader ul:after {
  clear: both;
}
.uploader ul:before,
.uploader ul:after {
  content: " ";
  display: table;
}
.uploader ul:after {
  clear: both;
}
.uploader ul li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 70px;
  max-width: 120px;
  position: relative;
}
.uploader ul li img {
  max-height: 100%;
  max-width: 100%;
  border: 0.03864734rem solid #eeeeee;
}
.uploader ul li span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #d9534f;
  display: none;
  font-size: 12px;
  padding: 2px;
}
.uploader ul li:hover span {
  display: inline-block;
}
.uploader .uploader_modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10001;
  width: 500px;
  top: 150px;
}
.uploader .uploader_modal .uploader_modal_close {
  float: right;
}
.uploader .DragOver {
  height: 150px;
  text-align: center;
  border: dashed 1px #ddd;
  color: #ddd;
  padding-top: 40px;
  margin-bottom: 5px;
}
.uploader .filename {
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.uploader .preview {
  max-width: 45px;
  max-height: 45px;
}
.uploader .fileList {
  max-height: 310px;
  overflow-y: auto;
}
.uploader .fileList .table tr td {
  height: 62px;
}
.uploader .fileList .table tr td:nth-child(1) {
  width: 45px;
  vertical-align: middle;
}
.uploader .fileList .table tr td:nth-child(3) {
  width: 100px;
  vertical-align: middle;
}
.uploader .progress {
  margin-bottom: 0;
}
.table.table-edit tr input[type=text],
.table.table-edit tr input[type=number],
.table.table-edit tr input[type=email],
.table.table-edit tr input[type=date],
.table.table-edit tr input[type=datetime] {
  border: 1px solid transparent;
  background-color: transparent;
  width: 100%;
}
.table.table-edit tr:hover input[type=text],
.table.table-edit tr:hover input[type=number],
.table.table-edit tr:hover input[type=email],
.table.table-edit tr:hover input[type=date],
.table.table-edit tr:hover input[type=datetime] {
  border: 1px solid #eeeeee;
  background-color: #fff;
  width: 100%;
}
.table tr input[type=text],
.table tr input[type=number],
.table tr input[type=email],
.table tr input[type=date],
.table tr input[type=datetime] {
  border: 1px solid #eeeeee;
  background-color: #fff;
  width: 100%;
}
.table.table-add tbody tr:nth-child(1) input[type=text],
.table.table-add tbody tr:nth-child(1) input[type=number],
.table.table-add tbody tr:nth-child(1) input[type=email],
.table.table-add tbody tr:nth-child(1) input[type=date],
.table.table-add tbody tr:nth-child(1) input[type=datetime] {
  border: 1px solid #eeeeee;
  background-color: #fff;
  width: 100%;
}
.table.table-add-last tbody tr:last-child input[type=text],
.table.table-add-last tbody tr:last-child input[type=number],
.table.table-add-last tbody tr:last-child input[type=email],
.table.table-add-last tbody tr:last-child input[type=date],
.table.table-add-last tbody tr:last-child input[type=datetime] {
  border: 1px solid #eeeeee;
  background-color: #fff;
  width: 100%;
}
.table.table-autowidth {
  width: auto;
}
.table .table-img {
  float: left;
  height: 23px;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.table .table-img:hover,
.table .table-img:active,
.table .table-img:focus {
  color: inherit;
}
.table .table-img > img:nth-child(1) {
  height: 23px;
}
.table .table-img > img:nth-child(1):hover + img {
  display: block;
}
.table .table-img > img:nth-child(2) {
  position: absolute;
  top: 23px;
  left: 0;
  height: 120px;
  display: none;
  z-index: 100;
}
.container.body-content {
  margin-top: 50px;
}
.panel.panel-modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10001;
  width: 500px;
  top: 50px;
}
.panel.panel-modal:before,
.panel.panel-modal:after {
  content: " ";
  display: table;
}
.panel.panel-modal:after {
  clear: both;
}
.panel.panel-modal:before,
.panel.panel-modal:after {
  content: " ";
  display: table;
}
.panel.panel-modal:after {
  clear: both;
}
.panel.panel-modal .panel-heading span {
  float: right;
}
.panel.panel-modal .panel-body {
  position: relative;
}
.panel .panel-footer:before,
.panel .panel-footer:after {
  content: " ";
  display: table;
}
.panel .panel-footer:after {
  clear: both;
}
.panel .panel-footer:before,
.panel .panel-footer:after {
  content: " ";
  display: table;
}
.panel .panel-footer:after {
  clear: both;
}
.pagenav .total {
  vertical-align: top;
  display: inline-block;
  margin: 20px;
  padding: 6px 0;
}
.form-horizontal .checkbox-inline {
  margin-right: 10px;
  margin-left: 0;
}
.couponTicketTypeManageIndex .vhidden {
  visibility: hidden;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree .couponTicketTypeManageIndex-tree-tool:before,
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree .couponTicketTypeManageIndex-tree-tool:after {
  content: " ";
  display: table;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree .couponTicketTypeManageIndex-tree-tool:after {
  clear: both;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree .couponTicketTypeManageIndex-tree-tool:before,
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree .couponTicketTypeManageIndex-tree-tool:after {
  content: " ";
  display: table;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree .couponTicketTypeManageIndex-tree-tool:after {
  clear: both;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree .couponTicketTypeManageIndex-tree-tool span {
  color: #777777;
  margin: 0 2px;
  font-size: 12px;
  float: right;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree ul li {
  cursor: pointer;
  padding-left: 20px;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree ul li div {
  position: relative;
  white-space: nowrap;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree ul span {
  color: #777777;
  margin: 0 2px;
  font-size: 12px;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree.move > ul ul {
  min-height: 5px;
  border: 1px dashed #A94442;
}
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-index,
.couponTicketTypeManageIndex .couponTicketTypeManageIndex-tree {
  vertical-align: top;
  padding: 10px;
}
.couponDetail {
  min-height: 100vh;
  background-color: #f2f2f2;
  padding-bottom: 1.85507246rem;
}
.couponDetail .couponDetail-top {
  position: absolute;
  width: 100%;
  top: 0.38647343rem;
  z-index: 100;
}
.couponDetail .couponDetail-top:before,
.couponDetail .couponDetail-top:after {
  content: " ";
  display: table;
}
.couponDetail .couponDetail-top:after {
  clear: both;
}
.couponDetail .couponDetail-top:before,
.couponDetail .couponDetail-top:after {
  content: " ";
  display: table;
}
.couponDetail .couponDetail-top:after {
  clear: both;
}
.couponDetail .couponDetail-top .couponDetail-top-back {
  background: url("image/view/ic_navbar_back_bgblack@2x.png") no-repeat center;
  width: 1.70048309rem;
  height: 1.70048309rem;
  background-size: contain;
  margin-left: 0.30917874rem;
}
.couponDetail .couponDetail-top .couponDetail-top-share {
  background: url("image/view/ic_navbar_share_bgblack@2x.png") no-repeat center;
  width: 1.70048309rem;
  height: 1.70048309rem;
  background-size: contain;
  margin-right: 0.30917874rem;
}
.couponDetail .couponDetail-pImg img {
  width: 100%;
  height: auto;
}
.couponDetail .couponDetail-info {
  background-color: #fff;
  padding: 0.30917874rem;
}
.couponDetail .couponDetail-info .couponDetail-info-name {
  text-decoration: none;
  color: inherit;
  display: block;
  line-height: 0.77294686rem;
}
.couponDetail .couponDetail-info .couponDetail-info-name:hover,
.couponDetail .couponDetail-info .couponDetail-info-name:active,
.couponDetail .couponDetail-info .couponDetail-info-name:focus {
  color: inherit;
}
.couponDetail .couponDetail-info .couponDetail-info-name img {
  height: 0.61835749rem;
}
.couponDetail .couponDetail-info .couponDetail-info-price {
  line-height: 1.04347826rem;
  margin-top: 0.23188406rem;
}
.couponDetail .couponDetail-info .couponDetail-info-price:before,
.couponDetail .couponDetail-info .couponDetail-info-price:after {
  content: " ";
  display: table;
}
.couponDetail .couponDetail-info .couponDetail-info-price:after {
  clear: both;
}
.couponDetail .couponDetail-info .couponDetail-info-price:before,
.couponDetail .couponDetail-info .couponDetail-info-price:after {
  content: " ";
  display: table;
}
.couponDetail .couponDetail-info .couponDetail-info-price:after {
  clear: both;
}
.couponDetail .couponDetail-info .couponDetail-info-price .preferPrice {
  color: #E02E24;
  margin-right: 0.46376812rem;
}
.couponDetail .couponDetail-info .couponDetail-info-price .originalPrice {
  text-decoration: line-through;
}
.couponDetail .couponDetail-detailImg img {
  width: 100%;
  height: auto;
}
.couponDetail .couponDetail-useBtn {
  text-decoration: none;
  color: inherit;
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  line-height: 1.85507246rem;
  text-align: center;
  font-size: 0.69565217rem;
  color: #fff;
  background-color: #E02E24;
  border-top: 0.03864734rem solid rgba(0, 0, 0, 0.1);
}
.couponDetail .couponDetail-useBtn:hover,
.couponDetail .couponDetail-useBtn:active,
.couponDetail .couponDetail-useBtn:focus {
  color: inherit;
}
.coupon-tab {
  font-size: 0.46376812rem;
  color: #212121;
  line-height: 1;
}
.coupon-tab:before,
.coupon-tab:after {
  content: " ";
  display: table;
}
.coupon-tab:after {
  clear: both;
}
.coupon-tab:before,
.coupon-tab:after {
  content: " ";
  display: table;
}
.coupon-tab:after {
  clear: both;
}
.coupon-tab .coupon-tab-type {
  background-color: #ffd500;
  padding: 0.11594203rem 0.11594203rem;
}
.coupon-tab .coupon-tab-val {
  padding: 0.07729469rem 0.23188406rem;
  border: 0.03864734rem solid #ffd500;
}
.columnModule {
  height: 2.08695652rem;
  line-height: 2.08695652rem;
  padding: 0 0.38647343rem;
  border-bottom: 0.03864734rem solid rgba(0, 0, 0, 0.12);
  font-size: 0.61835749rem;
  background-color: #fff;
}
.columnModule:before,
.columnModule:after {
  content: " ";
  display: table;
}
.columnModule:after {
  clear: both;
}
.columnModule:before,
.columnModule:after {
  content: " ";
  display: table;
}
.columnModule:after {
  clear: both;
}
.columnModule .columnModule-title {
  font-weight: bold;
  position: relative;
  text-align: center;
}
.columnModule .columnModule-title span {
  padding: 0 0.46376812rem;
}
.columnModule .columnModule-title:before {
  content: "";
  background: url("image/view/img_mogoodsx@2x.png") no-repeat center;
  width: 0.73429952rem;
  height: 0.38647343rem;
  background-size: contain;
  display: inline-block;
}
.columnModule .columnModule-title:after {
  content: "";
  background: url("image/view/img_mogoodsx@2x.png") no-repeat center;
  width: 0.73429952rem;
  height: 0.38647343rem;
  background-size: contain;
  display: inline-block;
}
body {
  color: #212121;
  min-height: 100vh;
}
html {
  font-family: "微软雅黑" !important;
  font-size: 25px;
  min-height: 100%;
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 64px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "微软雅黑" !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.alertList {
  top: 1px;
  z-index: 10000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 500px;
}
.alertList .alert {
  margin-bottom: -1px;
  border-radius: 0;
}
.alertList button {
  margin-left: 10px;
}
.alertList.fixed-ckeditor-max {
  position: fixed;
  width: 500px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fs12 {
  font-size: 0.46376812rem;
}
.fs14 {
  font-size: 0.5410628rem;
}
.fs16 {
  font-size: 0.61835749rem;
}
.fs18 {
  font-size: 0.69565217rem;
}
.fs20 {
  font-size: 0.77294686rem;
}
.fs24 {
  font-size: 0.92753623rem;
}
.fs36 {
  font-size: 1.39130435rem;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cke_source {
  max-width: none;
}
.color-main {
  color: #E02E24;
}
.color-white {
  color: #fff;
}
.color-grey {
  color: rgba(0, 0, 0, 0.54);
}
.overFlowText {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textCenter {
  text-align: center;
}
.paddingLr5 {
  padding-left: 0.19323671rem;
  padding-right: 0.19323671rem;
}
.paddingLr10 {
  padding-left: 0.38647343rem;
  padding-right: 0.38647343rem;
}
.paddingLr24 {
  padding-left: 0.92753623rem;
  padding-right: 0.92753623rem;
}
.paddingTb16 {
  padding-top: 0.61835749rem;
  padding-bottom: 0.61835749rem;
}
.paddingT44 {
  padding-top: 1.70048309rem;
}
.paddingT48 {
  padding-top: 1.85507246rem;
}
.paddingT56 {
  padding-top: 2.16425121rem;
}
.paddingT60 {
  padding-top: 2.31884058rem;
}
.paddingT94 {
  padding-top: 3.63285024rem;
}
.paddingT150 {
  padding-top: 5.79710145rem;
}
.paddingB58 {
  padding-bottom: 2.24154589rem;
}
.paddingB50 {
  padding-bottom: 1.93236715rem;
}
.padding8 {
  padding: 0.30917874rem;
}
.marginT35 {
  margin-top: 1.352657rem;
}
.marginT20 {
  margin-top: 0.77294686rem;
}
.marginT15 {
  margin-top: 0.57971014rem;
}
.marginT10 {
  margin-top: 0.38647343rem;
}
.marginT5 {
  margin-top: 0.19323671rem;
}
.marginR8 {
  margin-right: 0.30917874rem;
}
.marginR20 {
  margin-right: 0.77294686rem;
}
.marginR30 {
  margin-right: 0.96618357rem;
}
.marginB5 {
  margin-bottom: 0.19323671rem;
}
.marginL8 {
  margin-left: 0.30917874rem;
}
.fontWeight {
  font-weight: bold;
}
.minHight100vh {
  min-height: 100vh;
}