@import "../base";

.localcoupon {
    .localcoupon-detail {
        min-height: 100vh;
        background-color: @font-col-black01;
        color:@font-col-white;

        .localcoupon-detail-label {
            color: #FFD500;
            padding: 16rem*@resize;
        }

        .localcoupon-detail-img {
            .img();
        }

        .localcoupon-detail-info {
            padding: 15rem*@resize;
            color: @font-col-white;
        }
    }
}
