@import "../base";

.userIndex{
    .userIndex-info{
        height:125rem*@resize;
        background-color:@bg-color-main;
        color:@font-col-white;
        padding:24rem*@resize 16rem*@resize 16rem*@resize 16rem*@resize;
    }
}

.moduleOptions{
    .clearfix();
    .one-line-vertical-mid(44rem*@resize);
    background-color:@bg-color-white;
    border-bottom:@border;
    padding:0 16rem*@resize;
    font-size:@font-size-2;
}