@model Buy.Models.CouponTypeTreeNode
@{
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}
<div class="couponTicketTypeManageIndex">
    <table>
        <tr>
            <td class="couponTicketTypeManageIndex-tree">
                <div class="couponTicketTypeManageIndex-tree-tool">
                    <span id="btnEditMode" class="glyphicon glyphicon-edit"></span>
                </div>

                <ul>
                    @Html.DisplayFor(model => Model)
                </ul>
            </td>
            <td class="couponTicketTypeManageIndex-index"></td>
        </tr>
    </table>
</div>