@model IEnumerable<Buy.Models.LocalCoupon>

@{
    ViewBag.Title = "GetList";
    Layout = null;
    var paged = (PagedList.IPagedList<Buy.Models.LocalCoupon>)Model;
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <li>
            <div class="localcoupon-img">
                <img src="~/content/images/404/placeholder_image.png" data-original="@Comm.ResizeImage(item.Image)" />
            </div>
            <div class="localcoupon-details">
                <div class="localcoupon-title">@item.Name</div>
                <div class="color-main fs12">有效期至：@item.EndDateTime.ToString("yyyy-MM-dd")</div>
                @*添加到卡包，添加后隐藏按钮，提示添加成功*@
                <div class="localcoupon-addCardBtn" data-id="@item.ID"></div>
            </div>
        </li>
    }
    if (paged.HasNextPage)
    {
        <li class="loadModule loadModule-dataIng" data-next="true" data-page="@paged.PageNumber">
            加载中
        </li>
    }
    else
    {
        <li class="loadModule loadModule-dataIng" data-next="false">
            已经到底了
        </li>
    }
}
else
{
    <li class="loadModule loadModule-noData">
        <img src="~/content/images/view/img_coupon_nodata.png" />
    </li>
}
