@model Buy.Models.Shop

@{
    ViewBag.Title = "本地券";
}

<h2>@Model.Name</h2>
@Html.HiddenFor(model => model.ID)
<div id="localCoupon">
    <ul>
        <li class="loadModule loadModule-dataIng" data-next="true" data-page="0">
            加载中
        </li>
    </ul>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/localCoupon")
}