<div class="navTabBottom">
    <ul>
        <li class="taobao active" title="淘宝"><a href="#"></a></li>
        <li class="mogujie" title="蘑菇街"><a onclick="" href="#"></a></li>
        <li class="jd" title="京东"><a onclick="" href="#"></a></li>
        <li class="search" title="搜索"><a onclick="" href="#"></a></li>
        <li class="user" title="我的"><a onclick="" href="#"></a></li>
    </ul>
</div>
