<div class="pwdMask hidden" data-clipboard-text="">
    <div class="pwdMask-head">复制淘口令</div>
    <div class="pwdMask-tip">点击复制</div>
    <div class="pwdMask-text" id="pwdMask-text"></div>
    <div class="pwdMask-remark">
        <p>使用说明：</p>
        <p class="">
            1、复制淘口令<br />
            2、打开淘宝APP<br />
            3、自动提示获取优惠券
        </p>
    </div>
</div>
