@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    string head = ViewBag.Head;
    string message = ViewBag.Message;
}

<h1 class="text-danger">@head</h1>
<h4 class="text-danger">@Html.Raw(message)</h4>

